<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/school/add_c/" method="post">
        <table>
            <tr>
                <td>班级名字</td>
                <td>班级人数</td>
                <td>班级简介</td>

            </tr>
            <tr>
                <td><input type="text" name="name"></td>
                <td><input type="text" name="numbers"></td>
                <td><input type="text" name="intro"></td>

            </tr>
        </table>
            <input type="submit" value="提交">
    </form>

</body>
</html>